<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments :: html_head">

</head>
<body>
<div id="wrapper">
  <!-- Header -->
  <header th:replace="user/fragments :: header_menu" class="header">

  </header>
  <div class="main">
    <div class="main__slide_offers">
      <div class="">
        <img height="600px" width="1700px"  src="https://menu24h.vn/image/5e785963b566c3ea9b1e9ebc/original.jpg">
        <div class="home__content">
          <div style="color: #31124b" class="home__title animated bounceInDown">
            Liên hệ
          </div>
        </div>
      </div>
    </div>
    <!--        contact-->
    <div  class="contact_form_container">
      <div  style="margin-top: 100px" class="box contact_form__box">
        <div class="contact_form__title">Form liên hệ</div>
        <form style="margin-top: 20px" name='f' th:action="@{/lien-he}" id="form_contact" class="contact__form" method="post"
              onsubmit="return validateForm()">
          <label>
            <input id="form_name" class="contact__form_name input_field" required name="fullname" placeholder="Họ và Tên"
                   type="text" value="">
          </label>
          <label>
            <input id="form_email" class="contact__form_email input_field" required name="email" placeholder="E-mail"
                   type="text" value="">
          </label>
          <label>
            <input id="form_subject" class="contact__form_subject input_field" required name="phonenumber"
                   placeholder="Số điện thoại" type="text">
          </label>

          <textarea required name="content" id="form_mess" placeholder="Nội dung" rows="4"
                    class="contact__form_mess input_field"></textarea>
          <input type="submit" class="contact__form_button button trans_200" value="Gửi">
          <p style="color:green;font-size: 30px;font-weight: bold;margin-top: 20px " th:utext="${msg}"></p>
        </form>

      </div>
    </div>

    <div class="contact__info">
      <div class="box contact__info_box">
        <h2>Địa chỉ</h2>
        <p>- 137 Nguyễn Thị Thập, Hòa Minh, Liên Chiểu,TP.Đà Nẵng -</p>
      </div>
    </div>
    <div class="contact__map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.802545904285!2d108.16776031451235!3d16.075732988876922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218e6e07b1c3f%3A0x459e4bf5a2af323e!2zVHLGsOG7nW5nIGNhbyDEkeG6s25nIHRo4buxYyBow6BuaCBGUFQgUE9MWVRFQ0hOSUMgxJDDoCBO4bq1bmc!5e0!3m2!1svi!2s!4v1555684901135!5m2!1svi!2s"
              width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <footer th:replace="user/fragments :: footer" class="footer">

  </footer>
</div>
</body>

</html>