<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments :: html_head">
  <meta charset="UTF-8">
  <title>Home</title>

</head>
<body>
<div id="wrapper">
  <!-- Header -->
  <header th:replace="user/fragments :: header_menu" class="header">
    <!-- Top Bar -->
  </header>
  <div class="main">
    <!--slider-->
    <div th:replace="user/fragments :: main_slide" class="main__slide">

    </div>
   <!-- <div th:replace="user/fragments :: main_search" class="main_search">

    </div>-->

    <!--        Intro-->
    <div class="main_intro">
      <h2>NHỮNG SẢNH CƯỚI TỐT NHẤT </h2>
      <p>Đây là những sảnh cưới  tốt nhất hiện nay của chúng tôi.</p>
      <p>Sẽ làm bạn hài lòng khi đăng ký những sảnh cưới  dưới đây.</p>
      <div class="main_intro__items">
        <div class="intro_item">
          <div class="intro_item__backgroud" style="background-image: url(user/assets/images/intro_1.jpg)"></div>
          <div class="intro_item__content">
            <div class="intro_date">Từ 15/04 - 15/05</div>
            <div class="intro_text">
              <h1>Bana Hill</h1>
              <div class="intro_price">Giá: 1,200,000đ</div>
              <div class="rating rating_4">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <div class="button intro_button">
              <div class="button_bcg"></div>
              <a href="#">Xem ngay<span></span><span></span><span></span></a></div>
          </div>
        </div>
        <div class="intro_item">
          <div class="intro_item__backgroud" style="background-image: url(user/assets/images/intro_2.jpg)"></div>
          <div class="intro_item__content">
            <div class="intro_date">Từ 15/04 - 15/05</div>
            <div class="intro_text">
              <h1>Hội An</h1>
              <div class="intro_price">Giá: 1,200,000đ</div>
              <div class="rating rating_4">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <div class="button intro_button">
              <div class="button_bcg"></div>
              <a href="#">Xem ngay<span></span><span></span><span></span></a></div>
          </div>
        </div>
        <div class="intro_item">
          <div class="intro_item__backgroud" style="background-image: url(user/assets/images/intro_1.jpg)"></div>
          <div class="intro_item__content">
            <div class="intro_date">Từ 15/04 - 15/05</div>
            <div class="intro_text">
              <h1>Bana Hill</h1>
              <div class="intro_price">Giá: 1,200,000đ</div>
              <div class="rating rating_4">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <div class="button intro_button">
              <div class="button_bcg"></div>
              <a href="#">Xem ngay<span></span><span></span><span></span></a></div>
          </div>
        </div>
      </div>
    </div>
    <!--        CTA-->
    <div class="main_cta" style="background-image: url(user/assets/images/cta.jpg)">
      <div class="box main_cta__box">
        <div class="slider" id="single_item">
          <div>
            <div class="cta_item">
              <div class="cta_item__title">Gói DỊCH VỤ TRỌN BỘ SẢNH CƯỚI CÙNG MENU 8 MÓN</div>
              <div class="cta_item__text">Tour du lịch Đà Nẵng 4 ngày 3 đêm đưa du khách đến với một thành
                phố thuộc vùng Nam Trung Bộ, Việt Nam. Đây là trung tâm kinh tế, văn hoá, giáo dục, khoa
                học và công nghệ lớn của khu vực miền Trung - Tây Nguyên. Đà Nẵng hiện là một trong 13
                đô thị loại 1 đồng thời là một trong 5 thành phố trực thuộc Trung ương ở Việt Nam. Nguồn
                gốc từ "Đà Nẵng" là biến dạng của từ Chăm cổ "DAKNAN", nghĩa là vùng nước rộng lớn hay
                "sông lớn", "cửa sông cái". Năm 1835, với chỉ dụ của vua Minh Mạng, Cửa Hàn (tên gọi Đà
                Nẵng khi đó) trở thành thương cảng lớn nhất Miền Trung.
              </div>
              <div class="button cta_button">
                <div class="button_bcg"></div>
                <a href="#">Xem thêm <span></span> <span></span> <span></span> <span></span></a>
              </div>
            </div>
          </div>
          <div>
            <div class="cta_item">
              <div class="cta_item__title">Gói DỊCH VỤ TRỌN BỘ SẢNH CƯỚI CÙNG MENU 9 MÓN VÀ KHUYẾN MÃI MÓN TRÁNG MIỆNG</div>
              <div class="cta_item__text">Tour du lịch Đà Nẵng 4 ngày 3 đêm đưa du khách đến với một thành
                phố thuộc vùng Nam Trung Bộ, Việt Nam. Đây là trung tâm kinh tế, văn hoá, giáo dục, khoa
                học và công nghệ lớn của khu vực miền Trung - Tây Nguyên. Đà Nẵng hiện là một trong 13
                đô thị loại 1 đồng thời là một trong 5 thành phố trực thuộc Trung ương ở Việt Nam. Nguồn
                gốc từ "Đà Nẵng" là biến dạng của từ Chăm cổ "DAKNAN", nghĩa là vùng nước rộng lớn hay
                "sông lớn", "cửa sông cái". Năm 1835, với chỉ dụ của vua Minh Mạng, Cửa Hàn (tên gọi Đà
                Nẵng khi đó) trở thành thương cảng lớn nhất Miền Trung.
              </div>
              <div class="button cta_button">
                <div class="button_bcg"></div>
                <a href="#">Xem thêm <span></span> <span></span> <span></span> <span></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--        Offers-->
    <div class="main_offers">
      <div class="box main_offers__box">
        <h2 class="offers_title">CÁC DỊCH VỤ CỦA NHÀ HÀNG HỖ TRỢ</h2>
        <div class="offers_items">
          <div class="offers_item">
            <div class="offers_image">
              <div class="offers_image_background"
                   style="background-image: url(user/assets/images/offers_1.jpg)"></div>
              <div class="offers_name"><a href="#">Tour Tây Bắc</a></div>
            </div>
            <div class="offers_content">
              <div class="offers_price">7,000,000đ</div>
              <div class="rating rating_4 offers_rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p class="offers_text">Tour du lịch hè Mai Châu - Mộc Châu sẽ đưa bạn đến thăm thung lũng
                Mai Châu yên bình trong sớm mai, những cánh đồng lúa xanh thắm lòng người hay những ngôi
                nhà sàn nhỏ san sát nhau.</p>
              <div class="offers_icons">
                <ul class="offers_icons_list">
                  <li class="offers_icons_item"><img th:src="@{/user/assets/images/post.png}" alt=""></li>
                  <li class="offers_icons_item"><img th:src="@{/user/assets/images/compass.png}"  alt=""></li>
                  <li class="offers_icons_item"><img th:src="@{/user/assets/images/bicycle.png}" alt=""></li>
                  <li class="offers_icons_item"><img th:src="@{/user/assets/images/sailboat.png}"  alt=""></li>
                </ul>
              </div>
              <div class="offers_link"><a href="offers.html">Đọc thêm</a></div>
            </div>
          </div>
          <div class="offers_item">
            <div class="offers_image">
              <div class="offers_image_background"
                   style="background-image: url(user/assets/images/offers_2.jpg)"></div>
              <div class="offers_name"><a href="#">Tour Quy Nhơn</a></div>
            </div>
            <div class="offers_content">
              <div class="offers_price">8,690,000đ</div>
              <div class="rating rating_4 offers_rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p class="offers_text">Tour Du lịch Quy Nhơn 4 ngày từ Hà Nội - Du lịch Quy Nhơn cùng Du
                Lịch Việt sẽ đưa bạn đến với Quy Nhơn – một thành phố biển xinh đẹp, không ồn ào, cũng
                không đẹp lộng lẫy bằng Nha Trang.</p>
              <div class="offers_icons">
                <ul class="offers_icons_list">
                  <li class="offers_icons_item"><img src="user/assets/images/post.png" alt=""></li>
                  <li class="offers_icons_item"><img src="user/assets/images/compass.png" alt=""></li>
                  <li class="offers_icons_item"><img src="user/assets/images/bicycle.png" alt=""></li>
                  <li class="offers_icons_item"><img src="user/assets/images/sailboat.png" alt=""></li>
                </ul>
              </div>
              <div class="offers_link"><a href="offers.html">Đọc thêm</a></div>
            </div>
          </div>
          <div class="offers_item">
            <div class="offers_image">
              <div class="offers_image_background"
                   style="background-image: url(user/assets/images/offers_3.jpg)"></div>
              <div class="offers_name"><a href="#">Tour Miền Trung</a></div>
            </div>
            <div class="offers_content">
              <div class="offers_price">7,299,000đ</div>
              <div class="rating rating_4 offers_rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p class="offers_text"> Tour bắt đầu từ Đà Nẵng - Bana Hill - Hội An - Huế - Thánh Đại La
                Vang - Động Phong Nha0000 - Tham gia lễ hội pháo hoa quốc tế Đà Nẵng 2019 chủ đề
                "NHỮNG DÒNG SÔNG KỂ CHUYỆN"</p>
              <div class="offers_icons">
                <ul class="offers_icons_list">
                  <li class="offers_icons_item"><img src="user/assets/images/post.png" alt=""></li>
                  <li class="offers_icons_item"><img src="user/assets/images/compass.png" alt=""></li>
                  <li class="offers_icons_item"><img src="user/assets/images/bicycle.png" alt=""></li>
                  <li class="offers_icons_item"><img src="user/assets/images/sailboat.png" alt=""></li>
                </ul>
              </div>
              <div class="offers_link"><a href="offers.html">Đọc thêm</a></div>
            </div>
          </div>
          <div class="offers_item">
            <div class="offers_image">
              <div class="offers_image_background"
                   style="background-image: url(user/assets/images/offers_4.jpg)"></div>
              <div class="offers_name"><a href="#">Tour Côn Đảo</a></div>
            </div>
            <div class="offers_content">
              <div class="offers_price">9,900,000đ</div>
              <div class="rating rating_4 offers_rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p class="offers_text">Du Lịch Côn Đảo - Côn Đảo được xem là hòn đảo du lịch với những bãi
                tắm hoang sơ tuyệt đẹp, làn nước trong xanh mát lạnh, bãi cát dài phẳng mịn. Được ví như
                thiên đường nghỉ dưỡng.</p>
              <div class="offers_icons">
                <ul class="offers_icons_list">
                  <li class="offers_icons_item"><img src="user/assets/images/post.png" alt=""></li>
                  <li class="offers_icons_item"><img src="user/assets/images/compass.png" alt=""></li>
                  <li class="offers_icons_item"><img src="user/assets/images/bicycle.png" alt=""></li>
                  <li class="offers_icons_item"><img src="user/assets/images/sailboat.png" alt=""></li>
                </ul>
              </div>
              <div class="offers_link"><a href="offers.html">Đọc thêm</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--        testmonials-->
    <div class="main_testimonials">
      <div class="box main_testimonials__box">
        <h2>CÁC MENU THỨC ĂN</h2>
        <div id="testimonials" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
          <div>
            <div class="test_item">
              <div class="test_item_box">
                <div class="test_image"><img src="user/assets/images/test_1.jpg" alt="">
                </div>
                <div class="test_icon"><img src="user/assets/images/island_t.png" alt=""></div>
                <!--<div class="test_content_container">
                  <div class="test_content">
                    <div class="test_item_info">
                      <div class="test_name">Trường Giang</div>
                      <div class="test_date">12-04-2019</div>
                    </div>
                    <div class="test_quote_title">" Kỳ nghỉ thật tuyệt !!! "</div>
                    <p class="test_quote_text">Các thắng cảnh thật đẹp, khiến tôi không thể quên
                      được. Tôi rất hài lòng về dịch cụ của ViVuViet.</p>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
          <div>
            <div class="test_item">
              <div class="test_item_box">
                <div class="test_image"><img src="user/assets/images/test.jpg" alt="">
                </div>
                <div class="test_icon"><img src="user/assets/images/island_t.png" alt=""></div>
<!--                <div class="test_content_container">-->
<!--                  <div class="test_content">-->
<!--                    <div class="test_item_info">-->
<!--                      <div class="test_name">Hoàng Yến Chibi</div>-->
<!--                      <div class="test_date">12-04-2019</div>-->
<!--                    </div>-->
<!--                    <div class="test_quote_title">" Kỳ nghỉ thật tuyệt !!! "</div>-->
<!--                    <p class="test_quote_text">Các thắng cảnh thật đẹp, khiến tôi không thể quên-->
<!--                      được. Tôi rất hài lòng về dịch cụ của ViVuViet.</p>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
          </div>
          <div>
            <div class="test_item">
              <div class="test_item_box">
                <div class="test_image"><img src="user/assets/images/test_3.jpg" alt="">
                </div>
                <div class="test_icon"><img src="user/assets/images/island_t.png" alt=""></div>
               <!-- <div class="test_content_container">
                  <div class="test_content">
                    <div class="test_item_info">
                      <div class="test_name">Trấn Thành</div>
                      <div class="test_date">12-04-2019</div>
                    </div>
                    <div class="test_quote_title">" Kỳ nghỉ thật tuyệt !!! "</div>
                    <p class="test_quote_text">Các thắng cảnh thật đẹp, khiến tôi không thể quên
                      được. Tôi rất hài lòng về dịch cụ của ViVuViet.</p>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
          <div>
            <div class="test_item">
              <div class="test_item_box">
                <div class="test_image"><img src="styles/images/test.jpg" alt="">
                </div>
                <div class="test_icon"><img src="styles/images/island_t.png" alt=""></div>
                <div class="test_content_container">
                  <div class="test_content">
                    <div class="test_item_info">
                      <div class="test_name">Hoàng Yến Chibi</div>
                      <div class="test_date">12-04-2019</div>
                    </div>
                    <div class="test_quote_title">" Kỳ nghỉ thật tuyệt !!! "</div>
                    <p class="test_quote_text">Các thắng cảnh thật đẹp, khiến tôi không thể quên
                      được. Tôi rất hài lòng về dịch cụ của ViVuViet.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--        Hotel-->
    <div class="main_hotel">
      <div class="box main_hotel__box">
        <h2 class="main_hotel_title">Khách sạn được ưa thích nhất</h2>
        <div class="hotel_items">
          <div class="hotel_item">
            <div class="hotel_image">
              <img src="styles/images/hotel_1.jpg" alt="">
            </div>
            <div class="hotel_content">
              <div class="hotel_title"><a href="#">Green Plaza Hotel</a></div>
              <div class="hotel_price">1,000,000đ</div>
              <div class="hotel_location">Hải Châu, Đà Nẵng</div>
            </div>
          </div>
          <div class="hotel_item">
            <div class="hotel_image">
              <img src="styles/images/hotel_2.jpg" alt="">
            </div>
            <div class="hotel_content">
              <div class="hotel_title"><a href="#">Hilton Đà Nẵng</a></div>
              <div class="hotel_price">3,000,000đ</div>
              <div class="hotel_location">Hải Châu, Đà Nẵng</div>
            </div>
          </div>
          <div class="hotel_item">
            <div class="hotel_image">
              <img src="styles/images/hotel_3.jpg" alt="">
            </div>
            <div class="hotel_content">
              <div class="hotel_title"><a href="#">Hanoi Hotel</a></div>
              <div class="hotel_price">1,900,00đ</div>
              <div class="hotel_location">Hà Nội</div>
            </div>
          </div>
          <div class="hotel_item">
            <div class="hotel_image">
              <img src="styles/images/hotel_4.jpg" alt="">
            </div>
            <div class="hotel_content">
              <div class="hotel_title"><a href="#">Sofitel Sài Gòn</a></div>
              <div class="hotel_price">4,100,000đ</div>
              <div class="hotel_location">Quận 1, HCM</div>
            </div>
          </div>
          <div class="hotel_item">
            <div class="hotel_image">
              <img src="styles/images/hotel_1.jpg" alt="">
            </div>
            <div class="hotel_content">
              <div class="hotel_title"><a href="#">Green Plaza Hotel</a></div>
              <div class="hotel_price">1,000,000đ</div>
              <div class="hotel_location">Hải Châu, Đà Nẵng</div>
            </div>
          </div>
          <div class="hotel_item">
            <div class="hotel_image">
              <img src="styles/images/hotel_2.jpg" alt="">
            </div>
            <div class="hotel_content">
              <div class="hotel_title"><a href="#">Hilton Đà Nẵng</a></div>
              <div class="hotel_price">3,000,000đ</div>
              <div class="hotel_location">Hải Châu, Đà Nẵng</div>
            </div>
          </div>
          <div class="hotel_item">
            <div class="hotel_image">
              <img src="styles/images/hotel_3.jpg" alt="">
            </div>
            <div class="hotel_content">
              <div class="hotel_title"><a href="#">Hanoi Hotel</a></div>
              <div class="hotel_price">1,900,00đ</div>
              <div class="hotel_location">Hà Nội</div>
            </div>
          </div>
          <div class="hotel_item">
            <div class="hotel_image">
              <img src="styles/images/hotel_4.jpg" alt="">
            </div>
            <div class="hotel_content">
              <div class="hotel_title"><a href="#">Sofitel Sài Gòn</a></div>
              <div class="hotel_price">4,100,000đ</div>
              <div class="hotel_location">Quận 1, HCM</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="user/fragments :: footer" class="footer">
  </footer>

</div>

</body>
<script src="styles/js/main_js.js"></script>
<script>

  $("#single_item").slick({
    dots: true
  });
  $("#testimonials").slick({
    dots: false
  });
</script>

</html>