<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments :: html_head">

</head>
<body>
<div id="wrapper">
  <!-- Header -->
  <header th:replace="user/fragments :: header_menu" class="header">

  </header>
  <div class="main">
    <div style="margin-right: 20px" class="main__slide_offers">
      <div class="">
        <img height="600px" width="1700px"  src="https://menu24h.vn/image/5e785963b566c3ea9b1e9ebc/original.jpg">
        <div  class="home__content">
          <div style="color: #31124b" class="home__title animated bounceInDown">
           MENU THỨC ĂN
          </div>
        </div>
      </div>
    </div>
    <!--        blog-->
    <div class="blog" style="margin-top: 70px">
      <div class="box blog__box">
        <div class="blog__list">
          <th:block th:each="service : ${list.content}">
            <div class="blog_post">
              <div class="blog_post_image">

                <img class="zoom_img" th:src="@{'/user/assets/images/'+${service.image}}" alt="">

              </div>
              <div class="blog_post_meta">

              </div>
              <div class="blog_post_title"><a href="#" th:text="${service.name}"></a>
              </div>
              <div class="blog_post_text"><p th:utext="${service.description}">.</p>
              </div>
              <div class="blog_post_link"><a th:href="@{/chi-tiet-menu-thuc-an(id=${service.id})}">Xem tiếp...</a></div>
            </div>
          </th:block>
          <div class="blog_navigation">
            <ul>
              <li th:if="${numberPage>0}" class="blog_dot active" ><a th:href="@{/dich-sach-menu-thuc-an(page=0)}"> First</a></li>
              <li th:if="${numberPage>0}" class="blog_dot active" style="margin-left: 10px" ><a th:href="@{/dich-sach-menu-thuc-an(page = ${list.number - 1})}">Previous</a> </li>
              <li th:if="${numberPage<list.totalPages - 1}" class="blog_dot active"  style="margin-left: 10px" ><a th:href="@{/dich-sach-menu-thuc-an(page = ${list.number + 1})}">Next</a> </li>
              <li class="blog_dot active" style="margin-left: 10px" > <a th:href="@{/dich-sach-menu-thuc-an(page = ${list.totalPages - 1})}">Last</a></li>
            </ul>
          </div>

        </div>
        <div class="blog__sidebar">
          <div class="sidebar_times">
            <div class="sidebar_title">Sảnh</div>
            <div class="sidebar_list">
              <ul>
                <th:block th:each="wedd : ${listW}">
                  <li><a th:href="@{/chi-tiet-sanh-cuoi(id=${wedd.id})}" th:text="${wedd.name}"></a></li>
                </th:block>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <footer th:replace="user/fragments :: footer" class="footer">
  </footer>

</div>

</body>
<script src="styles/js/main_js.js"></script>
</html>