<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments :: html_head">

</head>
<body>
<div id="wrapper">
    <!-- Header -->
    <header th:replace="user/fragments :: header_menu" class="header">

    </header>
    <div class="main">
        <div class="main__slide_offers">
            <div class="">
                <img height="600px" width="1700px"  src="http://thamlotsan.net.vn/uploads/images/tin-tuc/tham-trai-san-cho-nha-hang-tiec-cuoi/tham-trai-san-tiec-cuoi-su-lua-chon-hoan-hao-cho-cac-nha-hang-lon-02.jpg">
                <!--<div class="home_slide__background"
                     style="background-image: url(styles/images/offers_slide.jpg)"></div>-->
                <div class="home__content">
                    <div style="color: #31124b" class="home__title animated bounceInLeft">
                        KẾT QUẢ TÌM KIẾM
                    </div>
                </div>
            </div>
        </div>
        <!--        Intro-->

        <div class="offers" style="margin-top: 50px">
            <div class="box offers__box1">
                <div class="offers_sorting_container">
                    <ul class="offers_sorting">

                    </ul>
                </div>
            </div>
            <div class="box offers__box2">
                <div th:if="${list.totalPages>0}" class="offers_grid" style="position: relative;">
                    <th:block th:each="weddinghall : ${list.content}">
                        <div style="margin-top: 25px" class="offers_item2" >
                            <div class="offers_image f_image">
                                <!-- Image by https://unsplash.com/@kensuarez -->
                                <div class="offers_image_background"
                                ><img height="300px" width="400px" th:src="@{'/user/assets/images/'+${weddinghall.image}}"></div>
                                <div class="offers_name"><a href="#" th:text="${weddinghall.name}" ></a></div>
                            </div>
                            <div class="offers_content">
                                <div class="offers_price" th:text="${weddinghall.name}"></div>
                                <div class="rating rating_4 offers_rating" data-rating="4">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <p class="offers_text" th:utext="${weddinghall.description}"></p>
                                <div class="offers_icons">
                                    <ul class="offers_icons_list">
                                        <li class="offers_icons_item"><img src="styles/images/post.png" alt=""></li>
                                        <li class="offers_icons_item"><img src="styles/images/compass.png" alt=""></li>
                                        <li class="offers_icons_item"><img src="styles/images/bicycle.png" alt=""></li>
                                        <li class="offers_icons_item"><img src="styles/images/sailboat.png" alt=""></li>
                                    </ul>
                                </div>
                                <div class="button book_button">
                                </div>
                                <div class="offer_reviews">
                                    <div class="offer_reviews_content">
                                        <div class="offer_reviews_title">very good</div>
                                        <div class="offer_reviews_subtitle" th:text="${weddinghall.view +' lượt xem'}"> </div>
                                    </div>
                                    <div class="offer_reviews_rating" style="text-align: center" th:text="${weddinghall.view}"></div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <div class="blog_navigation">
                        <ul>
                            <li th:if="${numberPage>0}" class="blog_dot active" ><a th:href="@{/tim-kiem(keysearch=${keysearch},page=0)}"> First</a></li>
                            <li th:if="${numberPage>0}" class="blog_dot active" style="margin-left: 10px" ><a th:href="@{/tim-kiem(keysearch=${keysearch},page = ${list.number - 1})}">Previous</a> </li>
                            <li th:if="${numberPage<list.totalPages - 1}" class="blog_dot active"  style="margin-left: 10px" ><a th:href="@{/tim-kiem(keysearch=${keysearch},page = ${list.number + 1})}">Next</a> </li>
                            <li class="blog_dot active" style="margin-left: 10px" > <a th:href="@{/tim-kiem(keysearch=${keysearch},page = ${list.totalPages - 1})}">Last</a></li>
                        </ul>
                    </div>
                    <!-- <div class="blog_navigation">
                       <ul>
                         <th:block>
                           <li class="blog_dot active" ><a th:href="@{/sanh-cuoi(page=0)}"> First</a></li>
                         </th:block>


                       </ul>
                     </div>-->
                </div>
                <div th:unless="${list.totalPages>0}" class="offers_grid">
                    <p style="color: red;font-weight: bold;font-size: large">Không tìm thấy sảnh cưới nào</p>
                </div>
            </div>
        </div>
        <script>
            function checkActive(a){

            }
        </script>
    </div>

    <footer th:replace="user/fragments :: footer" class="footer">

    </footer>
</div>
</body>
<script src="styles/js/main_js.js"></script>
<script>
    $(function () {
        $("#tabs").tabs();
    });
    $(document).ready(function () {
        $("#offer_1").mouseover(function () {
            $("#offer_box_1").css({
                top: "105%",
                visibility: "unset",
                opacity: "1"
            });
        })
        $("#offer_2").mouseover(function () {
            $("#offer_box_2").css({
                top: "105%",
                visibility: "unset",
                opacity: "1"
            });
        })
        $("#offer_3").mouseover(function () {
            $("#offer_box_3").css({
                top: "105%",
                visibility: "unset",
                opacity: "1"
            });
        })
        $("#offer_4").mouseover(function () {
            $("#offer_box_4").css({
                top: "105%",
                visibility: "unset",
                opacity: "1"
            });
        })
        $("#offer_5").mouseover(function () {
            $("#offer_box_5").css({
                top: "105%",
                visibility: "unset",
                opacity: "1"
            });
        })

        $("#offer_1").mouseout(function () {
            $("#offer_box_1").css({
                opacity: "0",
                top: "120%",
                visibility: "hidden"
            });
        })
        $("#offer_2").mouseout(function () {
            $("#offer_box_2").css({
                opacity: "0",
                top: "120%",
                visibility: "hidden"
            });
        })
        $("#offer_3").mouseout(function () {
            $("#offer_box_3").css({
                opacity: "0",
                top: "120%",
                visibility: "hidden"
            });
        })
        $("#offer_4").mouseout(function () {
            $("#offer_box_4").css({
                opacity: "0",
                top: "120%",
                visibility: "hidden"
            });
        })
        $("#offer_5").mouseout(function () {
            $("#offer_box_5").css({
                opacity: "0",
                top: "120%",
                visibility: "hidden"
            });
        })
    })
</script>

</html>