<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments :: html_head">

</head>
<body>
<div id="wrapper">
  <!-- Header -->
  <header th:replace="user/fragments :: header_menu" class="header">

  </header>
  <div class="main">
    <div class="main__slide_offers">
      <div class="home_slide__item">
        <div class="home_slide__background"
             style="background-image: url(styles/images/offers_slide.jpg)"></div>
        <div class="home__content">
          <div class="home__title animated bounceInLeft">
            ưu đãi
          </div>
        </div>
      </div>
    </div>
    <!--        Intro-->

    <div class="offers">
      <div class="box offers__box1">
        <div class="offers_sorting_container">
          <ul class="offers_sorting">
            <li id="offer_1">
              <span class="sorting_text">Giá</span>
              <i class="fas fa-angle-down"></i>
              <ul id="offer_box_1" class="animated fadeInUp">
                <li class="sort_btn"><span>Hiện tất cả</span></li>
                <li class="sort_btn"><span>Tăng dần</span></li>
                <li class="sort_btn"><span>Giảm dần</span></li>
              </ul>
            </li>
            <li id="offer_2">
              <span class="sorting_text">Thứ tự</span>
              <i class="fas fa-angle-down"></i>
              <ul id="offer_box_2">
                <li class="sort_btn"><span>Mặc định</span></li>
                <li class="sort_btn"><span>Bảng chữ cái</span></li>
              </ul>
            </li>
            <li id="offer_3">
              <span class="sorting_text">Sao</span>
              <i class="fas fa-angle-down"></i>
              <ul id="offer_box_3">
                <li class="filter_btn" data-filter="*"><span>Hiện tất cả</span></li>
                <li class="sort_btn"><span>Giảm dần</span></li>
                <li class="filter_btn" data-filter=".rating_3"><span>3</span></li>
                <li class="filter_btn" data-filter=".rating_4"><span>4</span></li>
                <li class="filter_btn" data-filter=".rating_5"><span>5</span></li>
              </ul>
            </li>
            <li id="offer_4">
              <span class="sorting_text">Khoảng cách</span>
              <i class="fas fa-angle-down"></i>
              <ul id="offer_box_4">
                <li class="num_sorting_btn"><span>50Km</span></li>
                <li class="num_sorting_btn"><span>100Km</span></li>
                <li class="num_sorting_btn"><span>200Km</span></li>
              </ul>
            </li>
            <li id="offer_5">
              <span class="sorting_text">Đánh giá</span>
              <i class="fas fa-angle-down"></i>
              <ul id="offer_box_5">
                <li class="num_sorting_btn"><span>Very Good</span></li>
                <li class="num_sorting_btn"><span>Good</span></li>
                <li class="num_sorting_btn"><span>Medium</span></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="box offers__box2">
        <div class="offers_grid" style="position: relative;">
          <div class="offers_item2">
            <div class="offers_image f_image">
              <!-- Image by https://unsplash.com/@kensuarez -->
              <div class="offers_image_background"
                   style="background-image:url(styles/images/offers_1.jpg)"></div>
              <div class="offers_name"><a href="#">Tour Tây Bắc</a></div>
            </div>
            <div class="offers_content">
              <div class="offers_price">7,000,000đ</div>
              <div class="rating rating_4 offers_rating" data-rating="4">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p class="offers_text">Tour du lịch hè Mai Châu - Mộc Châu sẽ đưa bạn đến thăm thung lũng
                Mai Châu yên bình trong sớm mai, những cánh đồng lúa xanh thắm lòng người hay những ngôi
                nhà sàn nhỏ san sát nhau.</p>
              <div class="offers_icons">
                <ul class="offers_icons_list">
                  <li class="offers_icons_item"><img src="styles/images/post.png" alt=""></li>
                  <li class="offers_icons_item"><img src="styles/images/compass.png" alt=""></li>
                  <li class="offers_icons_item"><img src="styles/images/bicycle.png" alt=""></li>
                  <li class="offers_icons_item"><img src="styles/images/sailboat.png" alt=""></li>
                </ul>
              </div>
              <div class="button book_button"><a href="#">book<span></span><span></span><span></span></a>
              </div>
              <div class="offer_reviews">
                <div class="offer_reviews_content">
                  <div class="offer_reviews_title">very good</div>
                  <div class="offer_reviews_subtitle">100 lượt xem</div>
                </div>
                <div class="offer_reviews_rating" style="text-align: center">8.0</div>
              </div>
            </div>
          </div>
          <div class="offers_item2">
            <div class="offers_image f_image">
              <!-- Image by https://unsplash.com/@kensuarez -->
              <div class="offers_image_background"
                   style="background-image:url(styles/images/offers_3.jpg)"></div>
              <div class="offers_name"><a href="#">Tour Miền Trung</a></div>
            </div>
            <div class="offers_content">
              <div class="offers_price">7,290,000đ</div>
              <div class="rating rating_4 offers_rating" data-rating="4">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p class="offers_text">Tour bắt đầu từ Đà Nẵng - Bana Hill - Hội An - Huế - Thánh Đại La
                Vang - Động Phong Nha0000 - Tham gia lễ hội pháo hoa quốc tế Đà Nẵng 2019 chủ đề
                "NHỮNG DÒNG SÔNG KỂ CHUYỆN"</p>
              <div class="offers_icons">
                <ul class="offers_icons_list">
                  <li class="offers_icons_item"><img src="styles/images/post.png" alt=""></li>
                  <li class="offers_icons_item"><img src="styles/images/compass.png" alt=""></li>
                  <li class="offers_icons_item"><img src="styles/images/bicycle.png" alt=""></li>
                  <li class="offers_icons_item"><img src="styles/images/sailboat.png" alt=""></li>
                </ul>
              </div>
              <div class="button book_button"><a href="#">book<span></span><span></span><span></span></a>
              </div>
              <div class="offer_reviews">
                <div class="offer_reviews_content">
                  <div class="offer_reviews_title">very good</div>
                  <div class="offer_reviews_subtitle">100 lượt xem</div>
                </div>
                <div class="offer_reviews_rating" style="text-align: center">8.7</div>
              </div>
            </div>
          </div>
          <div class="offers_item2">
            <div class="offers_image f_image">
              <!-- Image by https://unsplash.com/@kensuarez -->
              <div class="offers_image_background"
                   style="background-image:url(styles/images/offers_2.jpg)"></div>
              <div class="offers_name"><a href="#">Tour Quy Nhơn</a></div>
            </div>
            <div class="offers_content">
              <div class="offers_price">8,690,000đ</div>
              <div class="rating rating_4 offers_rating" data-rating="4">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p class="offers_text">Tour Du lịch Quy Nhơn 4 ngày từ Hà Nội - Du lịch Quy Nhơn cùng Du
                Lịch Việt sẽ đưa bạn đến với Quy Nhơn – một thành phố biển xinh đẹp, không ồn ào, cũng
                không đẹp lộng lẫy bằng Nha Trang.</p>
              <div class="offers_icons">
                <ul class="offers_icons_list">
                  <li class="offers_icons_item"><img src="styles/images/post.png" alt=""></li>
                  <li class="offers_icons_item"><img src="styles/images/compass.png" alt=""></li>
                  <li class="offers_icons_item"><img src="styles/images/bicycle.png" alt=""></li>
                  <li class="offers_icons_item"><img src="styles/images/sailboat.png" alt=""></li>
                </ul>
              </div>
              <div class="button book_button"><a href="#">book<span></span><span></span><span></span></a>
              </div>
              <div class="offer_reviews">
                <div class="offer_reviews_content">
                  <div class="offer_reviews_title">very good</div>
                  <div class="offer_reviews_subtitle">100 lượt xem</div>
                </div>
                <div class="offer_reviews_rating" style="text-align: center">8.5</div>
              </div>
            </div>
          </div>
          <div class="offers_item2">
            <div class="offers_image f_image">
              <!-- Image by https://unsplash.com/@kensuarez -->
              <div class="offers_image_background"
                   style="background-image:url(styles/images/offers_4.jpg)"></div>
              <div class="offers_name"><a href="#">Tour Côn Đảo</a></div>
            </div>
            <div class="offers_content">
              <div class="offers_price">9,900,000đ</div>
              <div class="rating rating_4 offers_rating" data-rating="4">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p class="offers_text">Du Lịch Côn Đảo - Côn Đảo được xem là hòn đảo du lịch với những bãi
                tắm hoang sơ tuyệt đẹp, làn nước trong xanh mát lạnh, bãi cát dài phẳng mịn. Được ví như
                thiên đường nghỉ dưỡng.</p>
              <div class="offers_icons">
                <ul class="offers_icons_list">
                  <li class="offers_icons_item"><img src="styles/images/post.png" alt=""></li>
                  <li class="offers_icons_item"><img src="styles/images/compass.png" alt=""></li>
                  <li class="offers_icons_item"><img src="styles/images/bicycle.png" alt=""></li>
                  <li class="offers_icons_item"><img src="styles/images/sailboat.png" alt=""></li>
                </ul>
              </div>
              <div class="button book_button"><a href="#">book<span></span><span></span><span></span></a>
              </div>
              <div class="offer_reviews">
                <div class="offer_reviews_content">
                  <div class="offer_reviews_title">very good</div>
                  <div class="offer_reviews_subtitle">100 lượt xem</div>
                </div>
                <div class="offer_reviews_rating" style="text-align: center">9.1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="user/fragments :: footer" class="footer">

  </footer>
</div>
</body>
<script src="styles/js/main_js.js"></script>
<script>
  $(function () {
    $("#tabs").tabs();
  });
  $(document).ready(function () {
    $("#offer_1").mouseover(function () {
      $("#offer_box_1").css({
        top: "105%",
        visibility: "unset",
        opacity: "1"
      });
    })
    $("#offer_2").mouseover(function () {
      $("#offer_box_2").css({
        top: "105%",
        visibility: "unset",
        opacity: "1"
      });
    })
    $("#offer_3").mouseover(function () {
      $("#offer_box_3").css({
        top: "105%",
        visibility: "unset",
        opacity: "1"
      });
    })
    $("#offer_4").mouseover(function () {
      $("#offer_box_4").css({
        top: "105%",
        visibility: "unset",
        opacity: "1"
      });
    })
    $("#offer_5").mouseover(function () {
      $("#offer_box_5").css({
        top: "105%",
        visibility: "unset",
        opacity: "1"
      });
    })

    $("#offer_1").mouseout(function () {
      $("#offer_box_1").css({
        opacity: "0",
        top: "120%",
        visibility: "hidden"
      });
    })
    $("#offer_2").mouseout(function () {
      $("#offer_box_2").css({
        opacity: "0",
        top: "120%",
        visibility: "hidden"
      });
    })
    $("#offer_3").mouseout(function () {
      $("#offer_box_3").css({
        opacity: "0",
        top: "120%",
        visibility: "hidden"
      });
    })
    $("#offer_4").mouseout(function () {
      $("#offer_box_4").css({
        opacity: "0",
        top: "120%",
        visibility: "hidden"
      });
    })
    $("#offer_5").mouseout(function () {
      $("#offer_box_5").css({
        opacity: "0",
        top: "120%",
        visibility: "hidden"
      });
    })
  })
</script>

</html>